<ng-container *ngIf="state$ | async as state">
  <app-loading *ngIf="state.loading"></app-loading>

  <!-- LARJ: Deshabilitado temporalmente -->
  <div class="proyectos-grid" *ngIf="!state.loading && !state.error">
    <mat-card 
      *ngFor="let p of state.proyectos" 
      class="proyecto-card neumorphic" 
      (click)="p.estatus === false ? $event.stopPropagation() : selectProyecto(p)"
      [class.disabled]="p.estatus === false"
    >
      <mat-card-header>
        <div class="row">
          <div class="row">
            <div class="col-sm-9">
              <h2>{{ p.titulo }}</h2>
            </div>
            <div class="col-sm-12">{{ p.fechacreacion | date:'yyyy-MM-dd' }}</div>
            <div class="row">
            <mat-card-content>
              <div class="tecnologias-links">
                <img [src]="p.urltecnologia1" alt="Tech 1">
                <img [src]="p.urltecnologia2" alt="Tech 2">
                <img [src]="p.urltecnologia3" alt="Tech 3">
                <img [src]="p.urltecnologia4" alt="Tech 4">
                <img [src]="p.urltecnologia5" alt="Tech 5">  
                <img [src]="p.urltecnologia6" alt="Tech 6">
                <img [src]="p.urltecnologia7" alt="Tech 7">
              </div>
            </mat-card-content>
            </div>
            <div class="col-sm-12">
              <button 
                mat-icon-button 
                matTooltip="Visualizar Sitio en Miniatura"
                *ngIf="p.estatus === true">
                <mat-icon>open_in_browser</mat-icon>
              </button>
            </div>
          </div>
        </div>        
      
        

      </mat-card-header>
      <mat-card-content>
        <p>{{ p.descripcion }}</p>
        <p><strong>Tecnologías:</strong> {{ p.tecnologias }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="state.selectedProyecto">
    <div class="modal neumorphic">
      <button mat-icon-button class="close-btn" (click)="closeProyecto()">
        <mat-icon>close</mat-icon>
      </button>
      <h3>{{ state.selectedProyecto.titulo }}</h3>
      <mat-card-content>
          <div class="link-container" *ngIf="state.selectedProyecto.url">
            <a [href]="state.selectedProyecto.url" target="_blank" class="cool-link"  matTooltip="Visitar el sitio">
               Abrir en otra ventana: {{ state.selectedProyecto.urltecnologia8 }}
              <mat-icon> open_in_new </mat-icon>
            </a>
            
          </div>
          <br/>
        </mat-card-content>
      <iframe [src]="safeUrl" frameborder="0" class="iframe-proyecto"></iframe>
      
    </div>
  </div>

  <div *ngIf="state.error" class="error-msg">
    {{ state.error }}
  </div>
</ng-container>