<ng-container *ngIf="state$ | async as state">
  @if (state.loading) {
  <app-loading message="Cargando contacto..."></app-loading>
  } @else if (state.error) {
  <div class="error-message">
    <mat-icon color="warn">error</mat-icon>
    <span>{{ state.error }}</span>
  </div>
  } @else if (state.contacto) {
  <mat-card class="contacto-card">
    <mat-card-header class="card-header">
      <div class="header-left">
        <img
          mat-card-image
          src="https://larj-portfolio-images-public.s3.us-east-2.amazonaws.com/FOTO_CV.png"
          alt="{{ photoName }}"
          width="70"
          height="70"
          class="foto-perfil"
        />
        <div class="card-header-info">
          <mat-card-subtitle class="nombre">
            {{ state.contacto.nombre }} {{ state.contacto.apellidos }}
          </mat-card-subtitle>
          <mat-card-subtitle class="titulo">
            ({{ state.contacto.titulo ?? 'Sin título' }})
          </mat-card-subtitle>
        </div>
        <br>
        
          
      </div>
      <div class="header-right">
        <div class="info-item-no-background">
          <span>{{ state.contacto.fechanacimiento | date:'longDate' }}</span>
          <mat-icon>calendar_today</mat-icon>
          </div>
        <div class="info-item-no-background" matTooltip="Correo Electrónico">
            <span>{{ state.contacto.usuario }}</span>
            <mat-icon>email</mat-icon>
          </div>
          <div class="info-item-no-background" matTooltip="Número de Teléfono">
            <span>{{ state.contacto.celular ?? 'Sin teléfono' }} </span
            ><mat-icon>phone</mat-icon>
          </div>
          <div class="info-item-no-background" matTooltip="RFC">
            <span>RFC: {{ state.contacto.rfc  ?? 'Sin RFC' }} </span
            ><mat-icon>badge</mat-icon>
          </div>          
          <div class="info-item-no-background" matTooltip="CURP">
            <span>Curp: {{ state.contacto.curp  ?? 'Sin CURP' }} </span
            ><mat-icon>fingerprint</mat-icon>
          </div>
          <div class="info-item-no-background" matTooltip="Cédula Profesional">
            <span
              >Cédula Profesional:
              {{ state.contacto.cedula  ?? 'Sin Cédula' }} </span
            ><mat-icon>verified</mat-icon>
          </div>
          <div class="info-item-no-background" matTooltip="Dirección">
            <span>{{ state.contacto.direccion ?? 'Sin dirección' }} </span>
            <mat-icon>location_on</mat-icon>
          </div>
          </div>

          <div class="header-right">
          
          
          

          
        
        </div>
      
      
      

    </mat-card-header>
    

    <mat-card-content class="card-content">
      <div class="dual-section">
        <!-- Columna izquierda: Formación Académica -->
        <section class="section-block formacion">
          <h2 class="section-title">Formación Académica</h2>
          <div class="section-content formacion-list">
            <mat-card class="formacion-item" *ngFor="let f of state.formacion">
              <mat-card-header>
                <mat-card-title> {{ f.nivel }} - {{ f.titulo }}</mat-card-title>
                <mat-card-subtitle>{{ f.institucion }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="formacion-info">
                  <mat-icon>location_on</mat-icon>
                  <span>{{ f.ubicacion }}</span>
                </div>
                <div class="formacion-info">
                  <mat-icon>calendar_today</mat-icon>
                  <span
                    >{{ f.fechainicio | date:'MMM yyyy' }} -
                    {{ f.fechafin | date:'MMM yyyy' }}</span
                  >
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </section>
        <!-- Resumen de Perfil debajo -->
        <section class="section-block resumen">
          <h3 class="section-title">Resumen de Perfil</h3>
          <div class="section-content">
            <p>{{ state.contacto.resumenperfil }}</p>
          </div>
        </section>
      </div>
    </mat-card-content>
  </mat-card>
  }
  <!--
  <div *ngIf="state$ | async as state">
  <div *ngIf="state.loading">Cargando contacto...</div>
  <div *ngIf="state.error" class="error">{{ state.error }}</div>
  <div *ngIf="state.contacto">
     Renderizas los datos del contacto 
    <p>{{ state.contacto.nombre }}</p>
    <p>{{ state.contacto.fechanacimiento | date }}</p>
  </div>
</div>
-->
</ng-container>
